.idea
server-*/HELP.md
server-*/.gradle
server-*/build/
server-*/!gradle/wrapper/gradle-wrapper.jar
server-*/!**/src/main/**/build/
server-*/!**/src/test/**/build/
server-*/.idea
server-*/*.iws
server-*/*.iml
server-*/*.ipr
server-*/out/
server-*/!**/src/main/**/out/
server-*/!**/src/test/**/out/
server-*/src/main/generated/
server-*/src/main/resources/application-local.yml

client/.DS_Store
client/node_modules
client/dist/
client/.env.local
client/.env.*.local
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/.idea
client/.vscode
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?
